<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>창고</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">창 수정</h1>

    <form id="updateOrderForm">
        <!-- 발주서 번호를 숨긴 필드로 포함하였습니다. 데이터를 로드할 때 이 값을 채워 넣을 수 있습니다. -->
        <input id="warehouseNo" required type="hidden" value="1">
        <div class="form-group mb-4">
            <label for="name">창고명</label>
            <input class="form-control" id="name" required type="text">
        </div>
        <div class="form-group mb-4">
            <label for="address">주소</label>
            <input class="form-control" id="address" required type="text">
        </div>
        <div class="form-group mb-4">
            <label for="telNumber">전화번호</label>
            <input class="form-control" id="telNumber" required type="text">
        </div>
        <div class="form-group mb-4">
            <label for="managerName">담당자명</label>
            <input class="form-control" id="managerName" required type="text">
        </div>
        <div class="form-group mb-4">
            <label for="managerTelNumber">담당자 연락처</label>
            <input class="form-control" id="managerTelNumber" required type="text">
        </div>
        <div class="form-group mb-4">
            <label for="description">비고</label>
            <input class="form-control" id="description" required type="text">
        </div>

        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-outline-secondary mr-4" id="backToList" style="margin-right: 20px;"
               th:href="@{'/web/warehouses/' + ${warehouseNo}}">취소</a>
            <button class="btn btn-primary" type="submit">저장</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        let warehouseNo = $("#warehouseNo").val();

        function loadOrderData() {
            $.ajax({
                url: '/warehouses/' + warehouseNo, // 예시 URL
                type: 'GET',
                success: function (data) {
                    $("#name").val(data.name);
                    $("#address").val(data.address);
                    $("#telNumber").val(data.telNumber);
                    $("#managerName").val(data.managerName);
                    $("#managerTelNumber").val(data.managerTelNumber);
                    $("#description").val(data.description);
                },
                error: function () {
                    alert('데이터 로드 중 오류 발생');
                }
            });
        }

        loadOrderData();
        $("#updateOrderForm").submit(function (e) {
            e.preventDefault();

            let orderData = {
                name: $("#name").val(),
                address: $("#address").val(),
                telNumber: $("#telNumber").val(),
                managerName: $("#managerName").val(),
                managerTelNumber: $("#managerTelNumber").val(),
                description: $("#description").val(),
            };

            // AJAX를 사용하여 서버에 발주서 정보 전송
            $.ajax({
                url: '/warehouses/' + warehouseNo, // 예시 URL. 여기에 해당 발주서를 수정하는 API의 URL을 지정해야 합니다.
                type: 'PUT',
                data: JSON.stringify(orderData),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    alert('창고가 성공적으로 수정되었습니다.');
                    // list.html로 이동
                    window.location.href = '/web/warehouses/' + warehouseNo;
                },
                error: function (error) {
                    alert('창고 수정 중 오류가 발생했습니다.');
                }
            });
        });
    });
</script>

</body>
</html>