<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>출고 상세 정보</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">출고 상세 정보</h1>

    <!-- 발주서 기본 정보 -->
    <h4>출고 정보</h4>
    <div id="orderInfo">
        <!-- 발주서 번호, 발주서명, 설명 등의 기본 정보 동적 표시 예정 -->
    </div>

    <!-- 발주 상품 정보 -->
    <h4 class="mt-4">출고 상품</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>상품 번호</th>
            <th>상품 명</th>
            <th>출고 수량</th>
            <th>집품 상태</th>
            <th>집품 현황</th>
        </tr>
        </thead>
        <tbody id="productInfo">
        <!-- 동적으로 행 추가 예정 -->
        </tbody>
    </table>

    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary" href="/web/outbounds" id="backToList" style="margin-right: 20px;">목록</a>
        <!--        <button class="btn btn-danger" id="stopButton">수동 출고</button>-->
        <div th:if="${isCanceled}">
            <button class="btn btn-danger" id="stopButton">출고 초기화</button>
        </div>
        <div th:if="${!isCanceled}">
            <a class="btn btn-danger" id="cancel" th:href="@{'/web/outbounds/'+ ${outboundNo} + '/cancel'}">출고 중지</a>
            <button class="btn btn-success" id="allocateButton">집품 시작</button>
        </div>
        <div th:if="${!isManualOutbound}">
            <button class="btn btn-dark" id="manualButton">수동 출고</button>
        </div>
    </div>
    <input id="outboundNo" th:value="${outboundNo}" type="hidden">
</div>

<script>
    $(document).ready(function () {

        let outboundNo = $("#outboundNo").val();
        if (outboundNo) {
            // inboundNo 값을 사용하여 상세 정보를 서버에서 가져오는 AJAX 호출을 여기에 수행합니다.
            $.ajax({
                url: '/outbounds/' + outboundNo,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 발주서 정보 표시
                    $("#orderInfo").html(`
                        <p><strong>창고:</strong> ${data.warehouseName}</p>
                        <p><strong>주문번호:</strong> ${data.orderNo}</p>
                        <p><strong>출고번호:</strong> ${data.outboundNo}</p>
                        <p><strong>송장번호:</strong> ${data.trackingNumber}</p>
                        <p><strong>우선순위:</strong> ${data.priorityType}</p>
                        <p><strong>상태:</strong> ${data.status}</p>
                        <p><strong>출고희망일자:</strong> ${data.desiredDeliveryAt}</p>
                        <p><strong>추천 포장재:</strong> ${data.recommendedPackagingMaterialName}</p>
                        <p><strong>사용한 포장재:</strong> ${data.realPackagingMaterialName}</p>
                        <p><strong>집품완료일시:</strong> ${data.pickedAt == null ? "집품전" : data.pickedAt}</p>
                        <p><strong>검수완료일시:</strong> ${data.inspectedAt == null ? "검수전" : data.inspectedAt}</p>
                        <p><strong>포장완료일시:</strong> ${data.packedAt == null ? "포장전" : data.packedAt}</p>
                        <p><strong>출고중지일시:</strong> ${data.canceledAt == null ? "없음" : data.canceledAt}</p>
                        <p><strong>출고중지사유:</strong> ${data.cancelReason == null ? "없음" : data.cancelReason}</p>
                        <p><strong>출고여부:</strong> ${data.isManualOutbound ? "수동" : "자동"}</p>
                    `);

                    // 발주 상품 정보 표시 (예제)
                    data.products.forEach(product => {
                        let productRow = `
                            <tr>
                                <td>${product.productNo}</td>
                                <td>${product.productName}</td>
                                <td>${product.quantity}</td>
                                <td>${product.quantity}</td>
                                <td>${product.quantity}</td>
                                <td><a href="/web/outbounds/${outboundNo}/outbound-products/${product.outboundProductNo}/pickings" class="btn btn-info">집품 목록 보기</a></td>
                            </tr>
                        `;
                        $("#productInfo").append(productRow);
                    });
                },
                error: function (error) {
                    alert("데이터를 불러오는 데 실패했습니다.");
                    location.href = '/web/outbounds';
                }
            });

        } else {
            alert('발주서 번호가 제공되지 않았습니다.');
        }

        // 수동 출고 버튼 클릭 시
        $("#manualButton").click(function () {
            // 수동 출고 API 호출
            $.ajax({
                url: '/outbounds/' + outboundNo + '/manual',
                type: 'POST',
                success: function (data) {
                    alert("수동 출고로 변경되었습니다.");
                    location.reload();
                },
                error: function (error) {
                    alert("수동 출고 변경에 실패했습니다.");
                }
            });
        });
    });
</script>
</body>
</html>