<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>출고 상품 집품 정보</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">출고 상품 집품 정보</h1>

    <!-- 발주서 기본 정보 -->
    <h4>출고 상품 정보</h4>
    <div id="orderInfo">
        <!-- 발주서 번호, 발주서명, 설명 등의 기본 정보 동적 표시 예정 -->
    </div>

    <!-- 발주 상품 정보 -->
    <h4 class="mt-4">집품</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>로케이션 바코드</th>
            <th>로케이션 유형</th>
            <th>LPN 바코드</th>
            <th>집품 한 수량</th>
            <th>집품 해야할 수량</th>
        </tr>
        </thead>
        <tbody id="productInfo">
        <!-- 동적으로 행 추가 예정 -->
        </tbody>
    </table>

    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary" id="backToList" style="margin-right: 20px;"
           th:href="@{'/web/outbounds/' + ${outboundNo}}">뒤로가기</a>
        <div th:if="${!isPicked && hasPickingTote}">
            <button class="btn btn-danger" id="completeButton">집품 완료처리</button>
        </div>
    </div>
    <input id="outboundNo" th:value="${outboundNo}" type="hidden">
    <input id="outboundProductNo" th:value="${outboundProductNo}" type="hidden">
</div>

<script>
    $(document).ready(function () {

        let outboundNo = $("#outboundNo").val();
        if (outboundNo) {
            // inboundNo 값을 사용하여 상세 정보를 서버에서 가져오는 AJAX 호출을 여기에 수행합니다.
            $.ajax({
                url: '/outbounds/' + outboundNo + '/outbound-products/' + $("#outboundProductNo").val() + '/pickings',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 발주서 정보 표시
                    $("#orderInfo").html(`
                        <p><strong>출고번호:</strong> ${data.outboundNo}</p>
                        <p><strong>출고상품번호:</strong> ${data.outboundProductNo}</p>
                        <p><strong>상품번호:</strong> ${data.productNo}</p>
                        <p><strong>상품명:</strong> ${data.productName}</p>
                        <p><strong>상태:</strong> ${data.status}</p>
                    `);

                    // 발주 상품 정보 표시 (예제)
                    data.products.forEach(product => {
                        let productRow = `
                            <tr>
                                <td>${product.locationBarcode}</td>
                                <td>${product.locationStorageType}</td>
                                <td>${product.lpnBarcode}</td>
                                <td>${product.pickedQuantity}</td>
                                <td>${product.quantityRequiredForPick}</td>
                            </tr>
                        `;
                        $("#productInfo").append(productRow);
                    });
                },
                error: function (error) {
                    alert("데이터를 불러오는 데 실패했습니다.");
                    location.href = '/web/outbounds';
                }
            });

        } else {
            alert('발주서 번호가 제공되지 않았습니다.');
        }

        // completeButton
        $("#completeButton").click(function () {
            let outboundNo = $("#outboundNo").val();
            let outboundProductNo = $("#outboundProductNo").val();
            if (outboundNo && outboundProductNo) {
                $.ajax({
                    url: '/outbounds/' + outboundNo + '/outbound-products/' + outboundProductNo + '/complete-picking',
                    type: 'POST',
                    success: function (data) {
                        alert("집품 완료처리 되었습니다.");
                        location.reload();
                    },
                    error: function (error) {
                        alert("집품 완료처리에 실패했습니다.");
                    }
                });
            } else {
                alert("집품 완료처리에 실패했습니다.");
            }
        });
    });
</script>
</body>
</html>