<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>발주서 상세 정보</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">발주서 상세 정보</h1>

    <!-- 발주서 기본 정보 -->
    <h4>발주서 정보</h4>
    <div id="orderInfo">
        <!-- 발주서 번호, 발주서명, 설명 등의 기본 정보 동적 표시 예정 -->
    </div>

    <!-- 발주 상품 정보 -->
    <h4 class="mt-4">발주 상품</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>상품 번호</th>
            <th>상품 명</th>
            <th>요청 수량</th>
            <th>단가</th>
            <th>설명</th>
            <th>LPN 생성</th>
        </tr>
        </thead>
        <tbody id="productInfo">
        <!-- 동적으로 행 추가 예정 -->
        </tbody>
    </table>

    <!-- 발주 상품 정보 -->
    <div th:if="${isReceived}">
        <h4 class="mt-4">입고 상품</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>입고 명</th>
                <th>입고 일시</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody id="receiveInfo">
            <!-- 동적으로 행 추가 예정 -->
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary" href="/web/purchase-orders" id="backToList" style="margin-right: 20px;">목록</a>
        <div th:if="${!isReceived}">
            <a class="btn btn-primary" id="updateButton"
               th:href="@{'/web/purchase-orders/' + ${purchaseOrderNo} + '/update'}">수정</a>
        </div>
        <div th:if="${!isReceiveCompleted}">
            <a class="btn btn-primary" id="assignReceiveButton"
               th:href="@{'/web/purchase-orders/' + ${purchaseOrderNo} + '/add-receive'}">입고 등록</a>
        </div>
    </div>
    <input id="purchaseOrderNo" th:value="${purchaseOrderNo}" type="hidden">
</div>

<script>
    $(document).ready(function () {

        let purchaseOrderNo = $("#purchaseOrderNo").val();
        if (purchaseOrderNo) {
            // inboundNo 값을 사용하여 상세 정보를 서버에서 가져오는 AJAX 호출을 여기에 수행합니다.
            $.ajax({
                url: '/purchase-orders/' + purchaseOrderNo,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 발주서 정보 표시
                    $("#orderInfo").html(`
                        <p><strong>발주서 번호:</strong> ${data.purchaseOrderNo}</p>
                        <p><strong>발주서명:</strong> ${data.title}</p>
                        <p><strong>설명:</strong> ${data.description}</p>
                    `);

                    // 발주 상품 정보 표시 (예제)
                    data.products.forEach(product => {
                        let productRow = `
                            <tr>
                                <td>${product.productNo}</td>
                                <td>${product.productName}</td>
                                <td>${product.quantity}</td>
                                <td>${product.unitPrice}</td>
                                <td>${product.description}</td>
                                <td><a href="/web/purchase-orders/${purchaseOrderNo}/purchase-order-products/${product.purchaseOrderProductNo}/lpns" class="btn btn-info">LPN 관리</a></td>
                            </tr>
                        `;
                        $("#productInfo").append(productRow);
                    });
                    // 입고 상품 정보 표시 (예제)
                    data.receives.forEach(receive => {
                        let receiveRow = `
                            <tr>
                                <td>${receive.name}</td>
                                <td>${receive.createdAt}</td>
                                <td><a href="/web/purchase-orders/${purchaseOrderNo}/receives/${receive.receiveNo}" class="btn btn-info">상세보기</a></td>
                            </tr>
                        `;
                        $("#receiveInfo").append(receiveRow);
                    });
                },
                error: function (error) {
                    alert("데이터를 불러오는 데 실패했습니다.");
                    location.href = '/web/purchase-orders';
                }
            });

            // 수정 버튼에 orderNo 파라미터 추가
            $("#updateButton").attr("href", "update.html?orderNo=" + orderNo);
        } else {
            alert('발주서 번호가 제공되지 않았습니다.');
        }

        // 삭제 버튼을 클릭하면 삭제 로직 실행
        $("#deleteButton").click(function () {
            if (confirm("정말 삭제하시겠습니까?")) {
                // 삭제 로직 (예: AJAX를 사용하여 서버에 삭제 요청)
            }
        });

        $(document).on('click', '.detailReceiveRow', function () {
            $(this).closest('tr').remove();
        });
    });
</script>
</body>
</html>