<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>출고 목록</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-4" id="dataContainer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // 서버에서 데이터를 가져오는 예제. 실제 URL은 서버 상황에 따라 변경되어야 합니다.
        $.ajax({
            url: '/start-pickings',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.length === 0) {
                    alert("집품할 상품이 없습니다.");
                    location.href = '/app/pickings';
                }
                data.forEach(function (location, index) {
                    let locationCard = $('<div class="card mb-4 location-card"></div>');
                    if (index !== 0) locationCard.hide();
                    let cardHeader = $('<div class="card-header"></div>').append('<h5>Location: <span class="badge bg-secondary">' + location.locationBarcode + '</span></h5>');
                    locationCard.append(cardHeader);

                    let toteList = $('<ul class="list-group list-group-flush"></ul>');
                    location.pickingToteResponses.forEach(function (tote) {
                        tote.pickingResponses.forEach(function (pick) {
                            let pickItem = $('<li class="list-group-item"></li>')
                                .append('출고 번호: <strong>' + tote.outboundNo + '</strong><br> ')
                                .append('토트바코드: <strong>' + tote.pickingToteBarcode + '</strong> ')
                                .append('<button class="btn btn-sm btn-danger stop-shipping">출고 중지</button><br>')
                                .append('LPN 바코드: <strong>' + pick.lpnBarcode + '</strong><br>')
                                .append('집품한 수량: <span class="badge bg-warning">' + pick.pickedQuantity + '</span> ')
                                .append('<button class="btn btn-sm btn-info increase-qty">+</button><br>')
                                .append('집품해야할 수량: <span class="badge bg-info">' + pick.allocatedQuantity + '</span><br>')
                                .append('집품 번호: <span class="badge bg-primary">' + pick.pickingId + '</span><br>')
                                .append('<button class="btn btn-sm btn-success complete-pick">집품 완료</button>');

                            toteList.append(pickItem);
                        });
                    });

                    locationCard.append(toteList);
                    $('#dataContainer').append(locationCard);
                });

                $('.increase-qty, .complete-pick').click(function () {
                    let badge = $(this).siblings('.bg-warning');
                    let allocatedQty = parseInt($(this).siblings('.bg-info').text());

                    let currentQty;
                    if ($(this).hasClass('increase-qty')) {
                        currentQty = parseInt(badge.text()) + 1;
                    } else { // For complete-pick
                        currentQty = parseInt($(this).siblings('.bg-info').text());
                        badge.text(currentQty);
                    }

                    let listItem = $(this).closest('li.list-group-item');
                    if (currentQty === allocatedQty) {
                        listItem.fadeOut(function () {
                            let toteItems = listItem.parent().children();
                            if (toteItems.filter(':visible').length === 0) {
                                let toteContainer = listItem.parent();
                                toteContainer.fadeOut(function () {
                                    let locationTotes = toteContainer.siblings().addBack();
                                    if (locationTotes.filter(':visible').length - 1 === 0) {
                                        let currentCard = listItem.closest('.card');
                                        currentCard.fadeOut(function () {
                                            let nextCard = currentCard.next('.location-card');
                                            if (nextCard.length === 0) {
                                                alert('집품이 완료되었습니다!');
                                                location.href = '/app/pickings';
                                            } else {
                                                nextCard.fadeIn();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }

                    // AJAX call to update picked quantity on the server
                    let pickId = $(this).siblings('.bg-primary').text();
                    let orderData = {
                        pickingNo: pickId,
                        quantity: currentQty
                    }
                    $.ajax({
                        url: '/app/outbounds/scan-to-pick-manual',
                        type: 'POST',
                        data: JSON.stringify(orderData),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            // Handle success
                        }
                    });
                });


                $('.stop-shipping').click(function () {
                    let outboundNo = $(this).siblings('strong').first().text();
                    let orderData = {
                        cancelReason: "집품 중 출고 중지"
                    }
                    $.ajax({
                        url: '/outbounds/' + outboundNo + '/cancel',
                        type: 'POST',
                        data: JSON.stringify(orderData),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            // Handle success, for instance:
                            location.reload();
                        }
                    });

                    // If you wish to send a notification to the backend about the stopped shipping, you can continue with your AJAX call here.
                });
            },
            error: function (error) {
                alert("데이터를 불러오는 데 실패했습니다.");
                location.href = '/web/outbounds';
            }
        });
    });
</script>

</body>
</html>