<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>로케이션 상세 정보</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">로케이션 상세 정보</h1>

    <!-- 발주서 기본 정보 -->
    <h4>로케이션 정보</h4>
    <div id="orderInfo">
    </div>

    <div id="inventoryListTable">
        <h4 class="mt-4">재고 정보</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>상품 번호</th>
                <th>상품 명</th>
                <th>LPN 바코드</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody id="inventoryList">
            <!-- 기존의 발주서 상품 정보를 로드할 때 여기에 채워 넣을 수 있습니다. -->
            </tbody>
        </table>
    </div>

    <div th:if="${parentLocationNo != null}">
        <h4>부모 로케이션 정보</h4>
        <div id="parentInfo">
        </div>
    </div>

    <div th:if="${hasChildren}">
        <h4 class="mt-4">하위 로케이션</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>로케이션 번호</th>
                <th>로케이션 바코드</th>
                <th>유형</th>
                <th>용도</th>
            </tr>
            </thead>
            <tbody id="productInfo">
            <!-- 동적으로 행 추가 예정 -->
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end mb-4">
        <div th:if="${isUpdatable}">
            <a class="btn btn-primary" id="updatePurposeUsageButton"
               th:href="@{'/web/locations/' + ${locationNo} + '/update-usage-purpose'}">용도 변경</a>
            <a class="btn btn-primary" id="updateBarcodeButton"
               th:href="@{'/web/locations/' + ${locationNo} + '/update-barcode'}">바코드 변경</a>
            <a class="btn btn-primary" id="moveLocationButton"
               th:href="@{'/web/locations/' + ${locationNo} + '/move-location'}">로케이션 이동</a>
        </div>
        <a class="btn btn-secondary" href="/web/locations" id="backToList" style="margin-right: 20px;">목록</a>
    </div>
    <input id="locationNo" th:value="${locationNo}" type="hidden">
    <input id="parentLocationNo" th:value="${parentLocationNo}" type="hidden">
    <input id="locationBarcode" th:value="${locationBarcode}" type="hidden">
</div>

<script>
    $(document).ready(function () {

        let locationNo = $("#locationNo").val();
        let parentLocationNo = $("#parentLocationNo").val();
        if (locationNo) {
            // inboundNo 값을 사용하여 상세 정보를 서버에서 가져오는 AJAX 호출을 여기에 수행합니다.
            $.ajax({
                url: '/locations/' + locationNo,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 발주서 정보 표시
                    $("#orderInfo").html(`
                        <p><strong>로케이션 번호:</strong> ${data.locationNo}</p>
                        <p><strong>로케이션 바코드:</strong> ${data.locationBarcode}</p>
                        <p><strong>유형:</strong> ${data.storageTypeDescription}</p>
                        <p><strong>용도:</strong> ${data.usagePurposeDescription}</p>
                    `);
                    if (data.children && data.children.length > 0) {
                        displayChildren(data);
                    }
                    getInventoryList();
                },
                error: function (error) {
                    alert("데이터를 불러오는 데 실패했습니다.");
                    location.href = '/web/locations';
                }
            });

        } else {
            alert('발주서 번호가 제공되지 않았습니다.');
        }
        if (parentLocationNo) {
            $.ajax({
                url: '/locations/' + parentLocationNo,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 발주서 정보 표시
                    $("#parentInfo").html(`
                    <p><strong>로케이션 번호:</strong> ${data.locationNo}</p>
                    <p><strong>로케이션 바코드:</strong> ${data.locationBarcode}</p>
                    <p><strong>유형:</strong> ${data.storageTypeDescription}</p>
                    <p><strong>용도:</strong> ${data.usagePurposeDescription}</p>
                    <td><a href="/web/locations/${data.locationNo}" class="btn btn-info">상세보기</a></td>
                `);
                },
                error: function (error) {
                    alert("부모 로케이션 데이터를 불러오는 데 실패했습니다.");
                }
            });
        }

        function displayChildren(data, parentBarcode = null, depth = -1) {
            if (parentBarcode) {
                let prefix = 'ㅤ'.repeat(depth);
                let row = `<tr>
                            <td>${data.locationNo}</td>
                            <td>${prefix} ${data.locationBarcode}</td>
                            <td>${data.storageTypeDescription}</td>
                            <td>${data.usagePurposeDescription}</td>
                            <td><a href="/web/locations/${data.locationNo}" class="btn btn-info">상세보기</a></td>
                        </tr>`;
                $("#productInfo").append(row);
            }
            data.children.forEach(child => {
                displayChildren(child, data.locationBarcode, depth + 1);
            });
        }

        function getInventoryList() {
            let locationBarcode = $("#locationBarcode").val();
            $.ajax({
                url: '/locations/' + locationBarcode + '/inventories',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.length == 0) {
                        return;
                    }
                    $("#inventoryListTable").show();
                    $("#inventoryList").empty();
                    data.forEach(inventory => {
                        let row = `
                        <tr>
                            <td>${inventory.productNo}</td>
                            <td>${inventory.productName}</td>
                            <td>${inventory.lpnBarcode}</td>
                            <td>${inventory.quantity}</td>
                        </tr>
                    `;
                        $("#inventoryList").append(row);
                    });
                },
                error: function (error) {
                    alert("데이터를 불러오는 데 실패했습니다.");
                }
            });
        }

    });
</script>
</body>
</html>